@import '../helpers/variables';
@import '../helpers/mixins';

// Wrappers
.standard-box-wrapper__near-dark {
  @include box-padding-standard;
  background: none;
  @include media-breakpoint-up(sm) {
    background: $color-near-black;
  }
}

.standard-box-wrapper__transparent {
  @include box-padding-standard;
  background: none;
  @include media-breakpoint-up(sm) {
  }
}

// Columns
.standard-fullwidth-column {
  @include make-col-ready();
  padding-right: 15px;
}

.standard-main-column {
  @include make-col-ready();
  padding-right: 15px;
  @include media-breakpoint-up(lg) {
    @include make-col(8);
    padding-right: 0;
  }

  .standard-main-column__section {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
  }
}

.standard-secondary-column {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(4);
    padding-top: 0;
  }
}

// Containers
.standard-container {
  @include container-padding-standard;
}

.border-lg-none {
  @include media-breakpoint-up(lg) {
    border: none !important;
  }
}

// Progress bar - set height
.progress {
  height: 5px;
}

// Buttons

.btn-fa {
  color: inherit;
  border-radius: 0;
  padding: 0;
  border: none;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.btn-fa__primary {
  @extend .btn-fa;
  color: $color-primary;

  &:hover,
  &:focus {
    color: $color-primary__lighten;
  }
}

.btn-fa__secondary {
  @extend .btn-fa;
  color: $color-secondary;

  &:hover,
  &:focus {
    color: $color-secondary__lighten;
  }
}

.btn-fa__tertiary {
  @extend .btn-fa;
  color: $color-tertiary;

  &:hover,
  &:focus {
    color: $color-tertiary__lighten;
  }
}

.btn__tertiary {
  background-color: $color-tertiary;
  color: $color-dark-grey;

  &:hover,
  &:focus {
    background-color: $color-tertiary__lighten;
    color: $color-black;
  }
}

.btn-secondary:disabled {
  background: transparent;
  color: $color-secondary;
}

.button__load-more {
  padding: 0;
  font-size: 150%;
  color: $color-secondary;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    color: $color-secondary__lighten;
  }
}

.list-group {
  padding-left: 27px;
}
