@import '../helpers/variables';
@import '../helpers/mixins';

// Wrappers
.standard-box-wrapper__near-dark {
  @include box-padding-standard;
  background: none;
  @include media-breakpoint-up(sm) {
    background: $color-near-black;
  }
}
.standard-box-wrapper__transparent {
  @include box-padding-standard;
  background: none;
  @include media-breakpoint-up(sm) {
  }
}

// Columns
.standard-fullwidth-column {
  @include make-col-ready();
  padding-right: 15px;
}
.standard-main-column {
  @include make-col-ready();
  padding-right: 15px;
  @include media-breakpoint-up(lg) {
    @include make-col(8);
    padding-right: 0;
  }
  .standard-main-column__section {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-near-black;
    @include media-breakpoint-up(lg) {
      margin-bottom: 3rem;
      border-bottom: none;
    }
  }
}
.standard-secondary-column {
  margin-bottom: 2rem;
  padding-top: 1rem;
  border-bottom: 1px solid $color-near-black;
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(4);
    border-bottom: none;
    margin-bottom: 3rem;
    padding-top: 0;
  }
}

// Containers
.standard-container {
  @include container-padding-standard;
}

.border-lg-none {
  @include media-breakpoint-up(lg) {
    border: none !important;
  }
}

// Progress bar - set height
.progress {
  height: 5px;
}
