@import '../helpers/variables';
@import '../helpers/mixins';

// Buttons

.btn-fa {
  color: inherit;
  padding: 0;
  border: none;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

.btn-fa__primary {
  @extend .btn-fa;
  color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary__lighten;
  }
}

.btn-fa__secondary {
  @extend .btn-fa;
  color: $color-secondary;

  &:hover,
  &:focus,
  &:active {
    color: $color-secondary__lighten;
  }
}

.btn-fa__tertiary {
  @extend .btn-fa;
  color: $color-tertiary;

  &:hover,
  &:focus {
    color: $color-tertiary__lighten;
  }
}

.btn__tertiary {
  background-color: $color-tertiary;
  color: $color-dark-grey;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-tertiary__lighten;
    color: $color-black;
  }
}

// LoadMoreButton component
.button__load-more-cmp {
  @extend .btn;
  padding: 0;
  margin: 1rem;
  font-size: 150%;
  color: $color-dark-grey;
  width: 80%;
  background: $color-secondary;
  @include media-breakpoint-up(sm) {
    width: 20%;
  }
  &:hover,
  &:focus,
  &:active {
    background: $color-secondary__lighten;
    color: $color-black;
  }
}

.button__show-more {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  color: $color-dark-grey;
  background: $color-secondary;
  &:hover,
  &:focus,
  &:active {
    background: $color-secondary__lighten;
    color: $color-black;
  }
}
