@import '../helpers/variables';

.card__dark {
  @include box-shadow__dark;
  border: none;
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pagination {
    font-weight: bold;
  }
}
