@import '../helpers/variables';
@import '../helpers/mixins';

.dashboard-list {
  .list-group-item {
    line-height: 3;
    &.flex-me {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .list-group-header {
    font-weight: bold;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 0;
    padding-right: 0;
    line-height: 2.4;
  }
}