@import '../helpers/variables';
@import '../helpers/mixins';

// Lists

.list-group {
  padding-left: 27px;
}

.tracks-player__list {
  @extend .list-unstyled;
  margin-bottom: 1rem;
  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 1rem;
  }
  .tracks-player_li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .25rem;
    p {
      cursor: pointer;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
      background: $color-dark-grey;
    }
    &.active {
      background: $color-near-black;
      color: $color-secondary;
      .tracks-player__button.play {
        color: $color-secondary;
      }
    }
    .svg-inline--fa {
      font-size: 1.5rem;
    }
    .tracks-player__button {
      display: flex;
      align-items: center;
      @extend .btn;
      @extend .btn-fa__tertiary;
      &:hover,
      &:focus,
      &:active {
        color: $color-secondary;
      }
    }
    .tracks-player__text {
      text-transform: capitalize;
      font-size: 85%;
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      @include media-breakpoint-up(sm) {
        font-size: 100%;
      }

    }
    .tracks-player__button-text {
      @extend .small;
      display: none;
      margin-right: .5rem;
      text-transform: uppercase;
      @include media-breakpoint-up(lg) {

        display: inline;
      }
    }
    .tracks-player__image {
      width: 50px;
      min-width: 50px;
    }
  }
}
