@import '../helpers/variables';

.header-tbf-logo-primary {
  fill: $color-primary;
  width: 150px;
  @include media-breakpoint-up(sm) {
    width: 200px;
  }
  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}

