@import '../helpers/variables';
@import '../helpers/mixins';

.todo-component {
  border-radius: .25rem;
  border: 1px solid $color-tertiary;
  margin-bottom: 1rem;
  margin-right: 0;
  text-align: center;
  @include box-padding-mini;
  .svg-inline--fa {
    color: $color-tertiary;
    margin-right: 1rem;
  }
  @include media-breakpoint-up(sm) {
    display: inline-block;
    margin-right: .875rem;
  }
}

.loading-component {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(sm) {
    height: 300px;
  }
  @include media-breakpoint-up(lg) {
    height: 500px;
  }
  &.hero-image__1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/developer.jpg");
  }
  &.hero-image__2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/classroom.png");
  }
  &.hero-image__3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/www.jpg");
  }
  &.hero-image__4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wcag.png");
  }
  &.hero-image__5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/coding.jpg");
  }
  &.hero-image__6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/workflow.png");
  }
  &.hero-image__7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/karolina.jpg");
  }
}

.tri-icons__wrapper {
  width: 100%;
  margin-bottom: 1rem;
  .tri-icons__content {
    display: flex;
    transform: skew(-5deg);
    .tri-icons__icon {
      font-size: 1rem;
      border-radius: 10px;
      min-width: 35px;
      min-height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-up(sm) {
        border-radius: 15px;
        font-size: 1.5rem;
        min-width: 50px;
        min-height: 50px;
      }
    }
  }
}

.birthday-image {
  width: 80%;
}
