@import '../helpers/variables';

.navbar-dark .navbar-toggler {
  border: none;
  padding: 0;
  font-size: 1.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}
.navbar-brand {
  @include media-breakpoint-down(xs) {
    padding-bottom: 0;
    padding-top: .1rem;
  }
}
