@import 'variables';

// Webfonts
@import url('https://fonts.googleapis.com/css?family=Iceland|Creepster|UnifrakturMaguntia|Kelly+Slab|Nova+Flat|Monoton|Bebas+Neue|Bangers|Secular+One|Fira+Sans:300,400,700&display=swap');

.text-yellow {
  color: $color-tertiary;
}

// Responsive font sizes
h1 {
  margin-bottom: 1.5rem;
  font-size: $font-size-base * 1.8;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 2.3;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 2.8;
  }
}
h2 {
  font-size: $font-size-base * 1.3;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 1.65;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.8;
  }
}
h3 {
  font-size: $font-size-base * 1.1;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 1.3;
  }
}
h4, h5, h6 {
  font-size: $font-size-base * 1;
}

p:last-of-type, .lead {
  margin-bottom: 2rem;
}

label {
  font-weight: 700;
  font-size: $font-size-base * .875;
}

.text-truncate__200px {
  @extend .text-truncate;
  max-width: 200px;
}

.logo-font-family__1 {
  font-family: $tbf-font__logo-1;
}
.logo-font-family__2 {
  font-family: $tbf-font__logo-2;
}
.logo-font-family__3 {
  font-family: $tbf-font__logo-3;
}
.logo-font-family__4 {
  font-family: $tbf-font__logo-4;
}
.logo-font-family__5 {
  font-family: $tbf-font__logo-5;
}
.logo-font-family__6 {
  font-family: $tbf-font__logo-6;
}
.logo-font-family__7 {
  font-family: $tbf-font__logo-7;
}
.logo-font-family__8 {
  font-family: $tbf-font__logo-8;
}