@import 'variables';

.text-yellow {
  color: $color-tertiary;
}

p a {
  color: $color-secondary;

  &:hover {
    color: $color-secondary__lighten;
  }
}

// Responsive font sizes
h1 {
  margin-bottom: 1.5rem;
  font-size: $font-size-base * 1.2;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 2;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 2.2;
  }
}

h2 {
  font-size: $font-size-base * 1;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 1.65;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 2;
  }
}

h3 {
  font-size: $font-size-base * .8;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 1.3;
  }
}

h4, h5, h6 {
  font-size: $font-size-base * 1;
}

p:last-of-type, .lead {
  margin-bottom: 1.5rem;
}

label {
  font-weight: 700;
  font-size: $font-size-base * .875;
}

.text-truncate__200px {
  @extend .text-truncate;
  max-width: 200px;
}

// variants
.logo-font-family__1 {
  font-family: $tbf-font__logo-1;
}

.logo-font-family__2 {
  font-family: $tbf-font__logo-2;
}

.logo-font-family__3 {
  font-family: $tbf-font__logo-3;
}

.logo-font-family__4 {
  font-family: $tbf-font__logo-4;
}

.logo-font-family__5 {
  font-family: $tbf-font__logo-5;
}

.logo-font-family__6 {
  font-family: $tbf-font__logo-6;
}

.logo-font-family__7 {
  font-family: $tbf-font__logo-7;
}

.logo-font-family__8 {
  font-family: $tbf-font__logo-8;
  font-size: 140% !important;
}

.logo-font-family__9 {
  font-family: $tbf-font__logo-9;
}

.logo-font-family__10 {
  font-family: $tbf-font__logo-10;
}

.logo-font-family__11 {
  font-family: $tbf-font__logo-11;
}

.logo-font-family__12 {
  font-family: $tbf-font__logo-12;
}

.logo-font-family__13 {
  font-family: $tbf-font__logo-13;
  font-size: 80% !important;
}

.logo-font-family__14 {
  font-family: $tbf-font__logo-14;
}

.logo-font-family__15 {
  font-family: $tbf-font__logo-15;
  font-size: 180% !important;
  line-height: 1;
}

.logo-font-family__16 {
  font-family: $tbf-font__logo-16;
}

.bg-color-variant__1 {
  background-color: $color-primary !important;
}
.bg-color-variant__2 {
  background-color: $color-secondary !important;
}
.bg-color-variant__3 {
  background-color: $color-tertiary !important;
}
.bg-color-variant__4 {
  background-color: $color-quaternary !important;
}
.bg-color-variant__5 {
  background-color: $color-vibrant-purple !important;
}
.bg-color-variant__6 {
  background-color: $color-vibrant-orange !important;
}
.bg-color-variant__7 {
  background-color: $color-vibrant-lime !important;
}
.bg-color-variant__8 {
  background-color: $color-super-vibrant-orange !important;
}

.text-color-variant__1 {
  color: $color-primary !important;

  a {
    color: $color-vibrant-orange !important;

    &:hover,
    &:focus,
    &:active {
      color: $color-primary__lighten !important;
      text-decoration: none;
    }
  }
}

.text-color-variant__2 {
  color: $color-secondary !important;

  a {
    color: $color-secondary !important;

    &:hover,
    &:focus,
    &:active {
      color: $color-secondary__lighten !important;
      text-decoration: none;
    }
  }
}

.text-color-variant__3 {
  color: $color-tertiary !important;

  a {
    color: $color-tertiary !important;

    &:hover,
    &:focus,
    &:active {
      color: $color-tertiary__lighten !important;
      text-decoration: none;
    }
  }
}

.text-color-variant__4 {
  color: $color-quaternary !important;

  a {
    color: $color-quaternary !important;

    &:hover,
    &:focus,
    &:active {
      color: $color-quaternary__lighten !important;
      text-decoration: none;
    }
  }
}

.text-color-variant__5 {
  color: $color-vibrant-purple !important;

  a {
    color: $color-vibrant-purple !important;

    &:hover,
    &:focus,
    &:active {
      color: lighten($color-vibrant-purple, 10%) !important;
      text-decoration: none;

    }
  }
}

.text-color-variant__6 {
  color: $color-vibrant-orange !important;

  a {
    color: $color-vibrant-orange !important;

    &:hover,
    &:focus,
    &:active {
      color: lighten($color-vibrant-orange, 10%) !important;
      text-decoration: none;
    }
  }
}

.text-color-variant__7 {
  color: $color-vibrant-lime !important;

  a {
    color: $color-vibrant-lime !important;

    &:hover,
    &:focus,
    &:active {
      color: lighten($color-vibrant-lime, 10%) !important;
      text-decoration: none;
    }
  }
}

.text-color-variant__8 {
  color: $color-super-vibrant-orange !important;

  a {
    color: $color-super-vibrant-orange !important;

    &:hover,
    &:focus,
    &:active {
      color: lighten($color-super-vibrant-orange, 10%) !important;
      text-decoration: none;
    }
  }
}

.small {
  font-weight: 300;
  font-size: 85%;
}

.section-header {
  text-transform: capitalize;
  border-bottom: 1px solid $color-border;
  padding-bottom: .5rem;
}

.fs-lg {
  font-size: 120%;
}