@import 'variables';

// Webfonts
@import url('https://fonts.googleapis.com/css?family=Secular+One|Fira+Sans:300,400,700&display=swap');

.text-yellow {
  color: $color-tertiary;
}

// Responsive font sizes
h1 {
  margin-bottom: 1.5rem;
  font-size: $font-size-base * 1.8;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 2.3;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 2.8;
  }
}
h2 {
  font-size: $font-size-base * 1.3;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 1.65;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.8;
  }
}
h3 {
  font-size: $font-size-base * 1.1;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 1.3;
  }
}
h4, h5, h6 {
  font-size: $font-size-base * 1;
}

p:last-of-type, .lead {
  margin-bottom: 2rem;
}

label {
  font-weight: 700;
  font-size: $font-size-base * .875;
}

.text-truncate__200px {
  @extend .text-truncate;
  max-width: 200px;
}